# 1С backend
ONEC_BASE_URL=http://localhost:8081/smartmarket/hs/site-api
ONEC_AUTH_URL=http://localhost:8081/smartmarket/hs/site-auth
ONEC_PERSONAL_URL=http://localhost:8081/smartmarket/hs/personal
ONEC_USERNAME=Администратор
ONEC_PASSWORD=

# FastAPI AI сервис
AI_SERVICE_URL=http://localhost:8000
